/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    
} 
:root{
  --primary:border-box;
}
body{
  background-color: #050218;
}
span{
    font-size: 16px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
    padding-left:50px ;
    padding-right: 50px;
    margin-left: 50px;
}
h3{
    color: #fff;
    font-style: serif;
    font-weight: 1000;
    padding-top: 0px;
    padding-bottom: 25px;
    position: relative;


}
h1{
    font-size: 36px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
}
h2{
    font-size: 40px;
    text-align:center;
    font-weight: 1000;
    margin:10px 0;
    color: #fff;
    margin-left:5%;
    margin-right:5%;
}
h6{
    font-size: 36px;
    text-align:left;
    font-weight: 600;
    padding-left: 65px;
    color: #ff0000;
  
}
h4{
    color:#fff;
    font-size: 20px;
    padding: 10px;
    margin-left:5%;
    margin-right:5%;
    font-style: serif;
}
p{
    font-size: large;
    font-weight: 600;
}
  .page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #page1 {
    background-color: #000000;
  }
  
  #page2 {
    background-image: url('images/5073414.jpg');
    background-image: url('images/pngegg\ \(1\).png');
  }
  #page3 {
    background-image: url('images/5329598.jpg');
  }
  #page4{
    background-image: url('pexels-garrett-morrow-3593986.jpg');
  }
  .content {
    text-align: center;
    color: white;
  }
  
span{
    font-size: 16px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
    padding-left:50px ;
    padding-right: 50px;
    margin-left: 50px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 2em;
  font-weight: 1000;
  color: #fff;
  line-height: 1.5em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.2em;
  color: #fff;
  margin: 20px 0;
  font-weight: 800;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.line {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin-bottom: 16px;
  }
.lineUp {
    animation: 3s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.8;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.animate-charcter
{
   text-transform: uppercase;
   right: 50%;
   left:50%;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #001262 29%,
    #3d78ef 67%,
    #57beed 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 80px;
  font-weight: 1000;
}
.animate-charcter2
{
   text-transform: uppercase;
   right: 50%;
   left:50%;
  background-image: linear-gradient(
    -225deg,
    #d49d10 0%,
    #9b910c 29%,
    #ddef3d 67%,
    #eef085 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 80px;
  font-weight: 1000;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: #fff;
  --black-color: hsl(210, 12%, 15%);
  --body-color: hsl(210, 16%, 12%);
  --container-color: hsl(210, 24%, 8%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
}
@media screen and (min-width: 1024px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1rem; /* You can adjust this value if needed */
}
.card__container, .card__article {
  display: grid;
  gap: 2rem;
}
.card__container {
  display: grid;
  gap: 2rem;
  justify-content: center; /* Keep cards centered horizontally */
  padding-block: 2.5rem;
  width: 80%; /* Adjust the width as needed */
  max-width: 1000px; /* Add a max-width to prevent the cards from extending too wide */
  height: 800px;
}

.card__article {
  --hue-1: 210;
  --hue-2: 238;
  position: relative;
  justify-items: center;
  color: var(--white-color);
  text-align: center;
  padding: 4rem 2rem 3rem;
  border: 4px solid transparent;
  background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
  border-radius: 1.25rem;
  overflow: hidden;
}
.card__shape-1 {
  position: relative;
  width: 138px;
  height: 180px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 75%, 25%) 3%, hsl(var(--hue-2), 65%, 45%) 100%);
  border-radius: 2rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__shape-1 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* or object-fit: cover; depending on your preference */
}

.card__icon {
  font-size: 2rem;
}
.card__data {
  z-index: 3;
}
.card__data p{
   font-size: larger;
   font-weight: 400;
}
.card__data a{
  font-size: larger;
  font-weight: 800;
}
.card__title {
  font-size: 20px;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.card__description {
  font-size: 10px;
  margin-bottom: 1.5rem;
}
.card__button {
  display: inline-block;
  background-color: var(--white-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--black-color);
  font-weight: 500;
}
.card__orange {
  --hue-1: 300;
  --hue-2: 30;
}
.card__green {
  --hue-1: 180;
  --hue-2: 50;
}
.card__scale-1 {
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 2rem;
  top: 4rem;
}
.card__scale-2 {
  width: 116px;
  height: 116px;
  background: var(--container-color);
  border-radius: 1.5rem;
  top: 5rem;
}
.card__scale-1, .card__scale-2 {
  position: absolute;
  filter: blur(24px);
  transition: transform 0.3s ease-in;
}
.card__article:hover .card__scale-1 {
  transform: scale(6);
}
.card__article:hover .card__scale-2 {
  transform: scale(6);
  transition-delay: 0.1s;
}
/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 400px) {
  .card__container {
    display: flex; /* Change display to flex to stack cards vertically */
    flex-direction: column; /* Stack cards vertically */
    gap: 2rem;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    padding: 2.5rem 1rem; /* Adjust padding as needed */
    max-width: 1000px;
    margin: auto; /* Center the container */
    height: 90%;
  } 

  .card__article {
    width: 100%; /* Make cards take up full width */
    max-width: 500px; /* Adjust maximum width of cards as needed */
      transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
    }
    
    .card__article:hover {
      transform: scale(1.1); /* Zoom in by 10% on hover */
  }
  .card__shape-1{
    height: 106px;
  }
  .card__shape-1 img {
    width: 75%; /* Adjust image width to fit within the card */
    max-width: 100%; /* Ensure images resize properly */
    max-height: 100%;
  }

  .card__description {
    font-size: 0.5rem; /* Adjust font size of description */
    margin-bottom: 0.2rem; /* Adjust spacing between description and button */
  }

  .card__button {
    font-size: 0.5rem; /* Adjust font size of button */
  }
}
@media screen and (min-width: 576px) {

  .card__container {
    grid-template-columns: repeat(3, 228px);
    height: 95%;
  }
}
/* For large devices */
/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }
  .card__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3,345px, 1fr)); /* Adjust columns as needed */
    gap: 2rem;
    justify-content: center;
    padding: 2.5rem 1rem; /* Adjust padding as needed */
    max-width: 1000px;
    margin: auto; /* Center the container */
    height: 80%;
  }
  .card__article {
    padding: 4.5rem 2rem 3.5rem;
  }
}

#page3 {
  background-image: url('images/5329598.jpg');
}

.content {
  text-align: center;
  color: white;
  padding: 50px;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-height: calc(100vh - 150px); /* Adjust as needed */
  padding: 20px;
  object-fit: contain;
  overflow-x: auto;
}
/* For WebKit/Blink browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #221671; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #050218; /* Color of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Color of the scrollbar handle on hover */
}
/*-------------------footer------------------*/

.feedback{
  width: 250px;
  height: 300px;
  background: url(images/feedback.jpg);
  background-position: center;
  background-size: cover;

}
.feedback-desc{
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.767);
  padding: 10px;
  color: #fff;
  margin-right: 10px;
}
.feedback-desc .far{
  color: #FEC53A;
  font-size: 30px;
}
.f-img-2{
  background: url(images/image9.jpg);
  background-position: center;
  background-size: cover;
}
/* FOoter section */
footer{
  width: 100%;
  height: 55vh;
  background: #282828;
  display: flex;
  align-items: center;
  
}
.footer-body{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footer-logo{
  height: 12vh;
  background-color: #FEC53A;
  color: #000;
  line-height: 1.7rem;
}
.footer-logo img{
  width:300px;
  height:100px;
}
ul h3{
  color: #fff;
  font-weight: 450;
}
ul li{
  list-style: none;
  line-height: 2.5rem;
}
ul li a{
  text-decoration: none;
  color: #fff;
}
ul li a .fab{
  font-size: 1.2rem;
  color: #FEC53A;
  margin-right: 15px;
}
ul li a:hover{
  color: #FEC53A;
}
.footer-bottom{
  width: 100%;
  height: 7vh;
  background: #1B1919;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}
.footer-bottom span{
  color: #FEC53A;
  font-weight: bold;
}
/* First CSS file */

/* Reset some default styles */
@media screen and (max-width: 667px) {
  /* Reset some default styles */
  * {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
  }
  :root {
    --primary: border-box;
  }
  body {
    background-color: #050218;
  }
  span {
    font-size: 8px; /* Adjust font size */
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    padding-left: 15px; /* Adjust padding */
    padding-right: 15px; /* Adjust padding */
    margin-left: 15px; /* Adjust margin */
  }
  h3 {
    font-size: 10px; /* Adjust font size */
    color: #fff;
    font-style: serif;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 10px; /* Adjust padding */
    position: relative;
  }
  h1 {
    font-size: 24px; /* Adjust font size */
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
  }
  h2 {
    font-size: 18px; /* Adjust font size */
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
  h6 {
    font-size: 20px; /* Adjust font size */
    text-align: left;
    font-weight: 600;
    padding-left: 25px; /* Adjust padding */
    color: #ff0000;
  }
  h4 {
    font-size: 14px; /* Adjust font size */
    color: #fff;
    padding: 5px; /* Adjust padding */
  }
  p {
    font-size: small; /* Adjust font size */
    font-weight: 400;
  }
  .text h2
  {
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }
  .text h3
  {
    font-size: 1em;
    font-weight: 1000;
    color: #fff;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  .text p
  {
    font-size: 0.6em;
    color: #fff;
    margin: 20px 0;
    font-weight: 800;
    max-width: 700px;
  }
  .text a
  {
    display: inline-block;
    font-size: 0.5em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }
.footer-logo img{
  width:100px;
  height:50px;
}
ul h3{
  color: #fff;
  font-weight: 250;
}
}
